<head>
    <title>DropDown List</title>
</head>

<body>
    <form action="/search" method "GET">
        <h4>First Priority</h4>
        <select name="prio1">
            <option value="GB" selected>Great Britain</option>
            <option value="FR">France</option>
            <option value="GE">German Empire</option>
            <option value="IT">Italy</option>
            <option value="AH">Austria-Hungary</option>
            <option value="RU">Russia</option>
            <option value="OE">Ottoman Empire</option>
        </select>

        <h4>Second Priority</h4>
        <select name="prio2">
            <option value="GB">Great Britain</option>
            <option value="FR" selected>France</option>1
            <option value="GE">German Empire</option>
            <option value="IT">Italy</option>
            <option value="AH">Austria-Hungary</option>
            <option value="RU">Russia</option>
            <option value="OE">Ottoman Empire</option>
        </select>

        <h4>Third Priority</h4>
        <select name="prio3">
            <option value="GB">Great Britain</option>
            <option value="FR">France</option>
            <option value="GE" selected>German Empire</option>
            <option value="IT">Italy</option>
            <option value="AH">Austria-Hungary</option>
            <option value="RU">Russia</option>
            <option value="OE">Ottoman Empire</option>
        </select>

        <p><input type="submit" value="submit" /></p>
    </form>
</body>