<!DOCTYPE html>
<html lang="en">

<head>
    <title>Country Selection</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='flash_message.js') }}"></script>
</head>

<body>

    <div class="flashes">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert-warning" role="alert">
            <button type="button" onclick="hideElement(this)" class=dismiss_button>
                <span aria-hidden=" true">×</span></button>
            {{message}}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <div class="country_select_form">
        <h3>Player {{player_name}}</h3>

        <form action="/search" method="GET">
            <input type="hidden" name="id" value={{id}}>

            <h4>First Priority</h4>
            <select name="prio1">
                <option style="display:none"></option>
                {% for c_tag, c_name in zip(tags, country_names) %}
                <option value="{{c_tag}}" {{ " selected" if c_tag==priorities[0] }}>
                    {{c_name}}
                </option>
                {% endfor %}
            </select>

            <h4>Second Priority</h4>
            <select name="prio2">
                <option style="display:none"></option>
                {% for c_tag, c_name in zip(tags, country_names) %}
                <option value="{{c_tag}}" {{ " selected" if c_tag==priorities[1] }}>
                    {{c_name}}
                </option>
                {% endfor %}
            </select>

            <h4>Third Priority</h4>
            <select name="prio3">
                <option style="display:none"></option>
                {% for c_tag, c_name in zip(tags, country_names) %}
                <option value="{{c_tag}}" {{ " selected" if c_tag==priorities[2] }}>
                    {{c_name}}
                </option>
                {% endfor %}
            </select>

            <div><input type="submit" value="submit" class="button" /></div>

        </form>

        {% if submitted %} <h4>Your priorities have been submitted.</h4>
        <h4> Please wait for the other players to submit their
            answers. You can change your submission, until all players have voted. </h4> {% endif %}

    </div>
</body>

</html>