<!DOCTYPE html>
<html lang="en">

<head>
    <title>Country Selection</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body>
    <div class="country_select_form">
        <h3>Player {{player_name}}</h3>

        <form action="/search" method="GET">
            <input type="hidden" name="id" value={{id}}>

            <h4>First Priority</h4>
            <select name="prio1">
                {% for c_tag, c_name in zip(tags, country_names) %}
                <option value="{{c_tag}}" {{ " selected" if c_tag==priorities[0] }}>
                    {{c_name}}
                </option>
                {% endfor %}
            </select>

            <h4>Second Priority</h4>
            <select name="prio2">
                {% for c_tag, c_name in zip(tags, country_names) %}
                <option value="{{c_tag}}" {{ " selected" if c_tag==priorities[1] }}>
                    {{c_name}}
                </option>
                {% endfor %}
            </select>

            <h4>Third Priority</h4>
            <select name="prio3">
                {% for c_tag, c_name in zip(tags, country_names) %}
                <option value="{{c_tag}}" {{ " selected" if c_tag==priorities[2] }}>
                    {{c_name}}
                </option>
                {% endfor %}
            </select>

            <div><input type="submit" value="submit" class="button" /></div>

        </form>

        {% if submitted %} <h4>Your priorities have been submitted.</h4>
        <h4> Please wait for the other players to submit their
            answers. You can change your submission, until all players have voted. </h4> {% endif %}

    </div>
</body>

</html>